<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks</h2>
<% @snacks.each do |snack| %>
  <ul>
    <li><%= snack.title %></li>
    <li id="price-snack-<%= snack.id %>"><%= snack.price %></li>
  </ul>
<% end %>
